
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="list-group">
    @Html.ActionLink("Err1", "index", new { i = 1 }, new { @class = "list-group-item" })
    @Html.ActionLink("Err2", "index", new { i = 2 }, new { @class = "list-group-item" })
    @Html.ActionLink("Err3", "index", new { i = 3 }, new { @class = "list-group-item" })
    @Html.ActionLink("Err4", "index", new { i = 4 },new { @class="list-group-item" })
</div>