
@{
    ViewBag.Title = "Text";
}

<h2>Text</h2>


<li>@Html.ActionLink("View ", "Index", "VR")</li>
<li>@Html.ActionLink("Content ", "Content1", "VR")</li>
<li>@Html.ActionLink("File Img","File1", "VR")</li>
<li>@Html.ActionLink("File DownLoad Img", "File2", "VR")</li>
